<form class="form" method="post">
    <h3>Введите данные карты</h3>
    <p>Номер карты:</p>
    <input class="form_input" type="number" maxlength="16"/>
    <p>Дата:</p>
    <input class="form_input" type="number" maxlength="4"/>
    <p>CVV-код: </p>
    <input class="form_input" type="number" maxlength="3"/>
    <input class="button form_button" type="submit" value="Купить"/>
</form>