@model Website.Models.CreditCardModel 

<form class="form" method="post">
    <h3>Введите данные карты</h3>

    <div class="form_errors_list" asp-validation-summary="All"></div>

    <p>Номер карты:</p>
    <input class="form_input" name="CardNumber" asp-for="@Model.CardNumber" type="number"maxlength="16" />
    <p>Дата:</p>
    <input class="form_input" name="Date" asp-for="@Model.Date" type="number" maxlength="4" />
    <p>CVV-код: </p>
    <input class="form_input" name="CVV" asp-for="@Model.CVV" type="number" maxlength="3" />
    <input class="button form_button" type="submit" value="Купить" />
</form>