@model Website.Models.CreditCardModel
@{
    <!--Установка заголовков страницы-->
    ViewBag.Title = "Оформление покупки";
    ViewBag.SectionTitle = "Оформление покупки";

    <!--Если пользователь не имеет лицензию или о ней нет информации, появляется сообщение о необходимости покупки лицензии.-->
    if (ViewBag.HaveLicense == null || !ViewBag.HaveLicense)
    {
        <!--Форма покупки лицензии.-->
        <form class="form" method="post">
            <h3>Введите данные карты</h3>
            <div class="form_errors_list" asp-validation-summary="All"></div>
            <p>Номер карты:</p>
            <input class="form_input" asp-for="@Model.CardNumber" type="text" maxlength="16" />
            <p>Дата:</p>
            <input class="form_input" asp-for="@Model.Date" type="number" maxlength="4" />
            <p>CVV-код: </p>
            <input class="form_input" asp-for="@Model.CVV" type="number" maxlength="3" />
            <input class="button form_button" type="submit" value="Купить" />
        </form>
    }
    <!--Иначе появляется сообщение о том, что лицензия уже приобретена.-->
    else
    { <p class="text_message">Вы уже обладаете лицензией на данный продукт. <a href="/account">Перейти в аккаунт</a></p> }
}