@model Website.Models.AccountDataModel
@using Website.Components;

@{
	<!--Установка заголовков страницы.-->
	ViewBag.Title = "Управление биржами";
	ViewBag.SectionTitle = $"Управление биржами: {Model.Email}";

	<!--Если пользователь не имеет лицензию или о ней нет информации, появляется сообщение о необходимости покупки лицензии.-->
	if (ViewBag.HaveLicense == null || !ViewBag.HaveLicense) {
		<p class="text_message">Вы должны обладать лицензией на продукт, чтобы иметь возможность добавлять новые биржи в аккаунт. <a href="/purchase/buy">Купить</a></p>
	}
	else {
		<component type="typeof(AddExchangeDialog)" render-mode="ServerPrerendered" param-SessionId="User.Identity.Name" param-AccountData="Model"/>
	}
}