@model Website.Models.AccountDataModel
@using TradeBot.Account.AccountService.v1;

@{
    <!--Установка заголовков страницы.-->
    ViewBag.Title = "Управление биржами";
    ViewBag.SectionTitle = $"Управление биржами: {Model.Email}";

    <!--Если пользователь не имеет лицензию или о ней нет информации, появляется сообщение о необходимости покупки лицензии.-->
    if (ViewBag.HaveLicense == null || !ViewBag.HaveLicense)
    {
        <p class="text_message">Вы должны обладать лицензией на продукт, чтобы иметь возможность добавлять новые биржи в аккаунт. <a href="/purchase/buy">Купить</a></p>
    }
    <!--Иначе показывается вся информация о добавленных биржах.-->
    else
    {
        <!--Если в аккаунте есть биржи, они последовательно выводятся на страницу.-->
        if (Model.Exchanges.Count > 0)
            foreach (ExchangeAccessInfo exchange in Model.Exchanges)
            {
                <!--Внутри содержится все содержимое карточки.-->
                <div class="exchange_cards_container">
                    <div class="exchange_card">
                        <div>
                            <h2>@exchange.Name</h2>
                            <p>Токен: @exchange.Token</p>
                            <p>Секрет: @exchange.Secret</p>
                        </div>
                        <form method="post">
                            <input class="button exchange_card_delete_button" type="submit" name="DeleteButton" value="УДАЛИТЬ" />
                            <!--Скрытый элемент, содержаний в себе код биржи.-->
                            <input type="hidden" name="exchangeCode" value="@((int)exchange.Code)" />
                        </form>
                    </div>
                </div>
            }
        else
        { <p>Биржи отсутствуют.</p> }
        <!--Кнопка, перенаправляющая на форму добавления биржи-->
        <form action="account/addexchangeaccess">
            <input class="button color_button" type="submit" value="Добавить новую биржу" />
        </form>
    }
}