<!--Форма добавления биржи-->
<form class="form" method="post">
    <p>Выберите биржу:</p>
    <select class="form_select" name="ExchangeCode">
        <!--Пункты, которые содержат в себе код биржи (value)-->
        <option value="1">Bitmex</option>
    </select>

    <p>Токен:</p>
    <input class="form_input" type="text" name="Token" />
    <p>Секрет:</p>
    <input class="form_input" type="text" name="Secret" />
    <input class="button form_button" type="submit" value="Добавить" />
</form>