<!--Форма добавления биржи-->
<form method="post">
    <p>Выберите биржу:</p>
    <select name="ExchangeCode">
        <!--Пункты, которые содержат в себе код биржи (value)-->
        <option value="1">Bitmex</option>
    </select>

    <p>Токен:</p>
    <input type="text" name="Token" />
    <p>Секрет:</p>
    <input type="text" name="Secret" />
    <input type="submit" value="Добавить" />
</form>