<form method="post">
    <p>Выберите биржу:</p>

    <select name="SelectExchange">
        <option value="Bitmex">Bitmex</option>
    </select>

    <p>Токен:</p>
    <input type="text" name="Token"/>

    <p>Секрет:</p>
    <input type="text" name="Secret"/>

    <input type="submit" value="Добавить"/>
</form>