<!--Кнопка выхода из аккаунта, которая отображается в шапке сайта.-->
<li><a @onclick="Switch">Выйти</a></li>

@if (isEnabled) {
	<!--Контейнер, который растягивается на всю страницу.-->
	<div class="message_background">
		<!--Весь блок выхода является формой.-->
		<form action="/authorization/logout" method="post">
			<div class="message_block">
				<div>
					<h3>Выйти из аккаунта</h3>
					<p>Вы действительно хотите выйти?</p>
					<div class="form_checkbox_container">
						<input type="checkbox" id="SaveExchanges" name="SaveExchanges" value="true" />
						<label for="SaveExchanges">Сохранить данные о доступе к биржам</label>
					</div>
				</div>
				<div class="message_block_buttons">
					<!--Кнопка submit, которая при нажатии произведет отправку формы и выключит диалоговое окно.-->
					<input class="button color_button" type="submit" value="Выход" />
					<!--Кнопка, которая просто закроет диалоговое окно.-->
					<input class="button color_button" type="button" @onclick="Switch" value="Остаться" />
				</div>
			</div>
		</form>
	</div>
}

@code {
	private bool isEnabled = false;

	// Включение/выключение отображения формы
	private async void Switch()
	{
		if (isEnabled) isEnabled = false;
		else isEnabled = true;
		await InvokeAsync(StateHasChanged);
	}
}