@{
    @model String
    // Установка заголовков шаблона
    ViewBag.Title = "Произошла ошибка";
    ViewBag.SectionTitle = "Произошла ошибка";
    // Вывод сообщения об ошибке
    @Model
}

<!--Кнопка возврата на главную страницу-->
<form action="/" method="post">
    <input class="button color_button" type="submit" value="На главную страницу" />
</form>