<html>
    <head>
        <title>@ViewBag.Title | Tradebot</title>
        <link rel="stylesheet" type="text/css" href="~/css/Style.css"/>
    </head>
    <body>
        <header>
            <!--Здесь находится менюшка и всякое такое-->
            <h1>Tradebot</h1>
            <a href="/">Главная страница</a>
            <a href="/about">О нас</a>
            <a href="/tradebot">Tradebot</a>
            @if (User.Identity.IsAuthenticated)
            {
                <a href="/account">Аккаунт</a>
                <a href="authorization/logout">Выйти</a>
            }
            else
            {
                <a href="/authorization/login">Войти</a>
                <a href="/authorization/register">Зарегистрироваться</a>
            }
        </header>
        <article>
            <h1>@ViewBag.SectionTitle</h1>
            @RenderBody()
        </article>
        <footer>
            <!--Подвал сайта-->
            <p>Безымянная команда 2021-2021 :)</p>
        </footer>
    </body>
</html>