@using TradeBot.Account.AccountService.v1;

@if (AccountData.Exchanges.Count > 0)
{
    <div class="exchange_cards_container">
       @foreach (var exchange in AccountData.Exchanges)
        {
            <div class="exchange_card">
                <div>
                    <h2>@exchange.Name</h2>
                    <p>Токен: @exchange.Token</p>
                    <p>Секрет: @exchange.Secret</p>
                </div>
                <!--<form method="post">-->
                    <input class="button exchange_card_delete_button" type="button" name="DeleteButton" @onclick="() => DeleteExchange(exchange.Code)" value="УДАЛИТЬ" />
                    <!--Скрытый элемент, содержаний в себе код биржи.
                    <input type="hidden" name="exchangeCode" value="((int)exchange.Code)" />
                </form>-->
            </div>
        }
    </div>
}
else { <p>Биржи отсутствуют.</p> }

@code {
    [Parameter] public Models.AccountDataModel AccountData { get; set; }
    [Parameter] public string SessionId { get; set; }

    private async void DeleteExchange(ExchangeAccessCode code)
    {
        await Website.Controllers.Clients.ExchangeAccessClient.DeleteExchangeAccess(SessionId, code);
    }
}