<li><a @onclick="Show">Выйти</a></li>

@if (isEnabled)
{
    <div class="message_background">
        <form action="/authorization/logout" method="post">
            <div class="message_block">
                <div>
                    <h3>Выход из аккаунта</h3>
                    <p>Вы действительно хотите выйти?</p>
                    <div class="form_checkbox_container">
                        <input type="checkbox" id="SaveExchanges" name="SaveExchanges" value="true" />
                        <label for="SaveExchanges">Сохранить данные о доступе к биржам</label>
                    </div>
                </div>
                <div class="message_block_buttons">
                    <input class="button color_button" type="submit" @onclick="Close" value="Выход" />
                    <input class="button color_button" type="button" @onclick="Close" value="Остаться" />
                </div>
            </div>
        </form>
    </div>
}

@code {
    private bool isEnabled = false;
    public string SessionId { get; set; }

    private async void Show()
    {
        isEnabled = true;
        await InvokeAsync(StateHasChanged);
    }

    private async void Close()
    {
        isEnabled = false;
        await InvokeAsync(StateHasChanged);
    }
}