<form method="post">
    <p>Email</p>
    <input type="email" name="Email"/>
    <p>Пароль:</p>
    <input type="password" name="Password"/>
    <input type="submit" name="send" value="Войти"/>
</form>