@{ 
    ViewBag.Title = "Вход";
}

<!--Форма входа в аккаунт-->
<form class="form" method="post">
    <h3>Вход в аккаунт</h3>
    <p>Email</p>
    <input class="form_input" type="email" name="Email" />
    <p>Пароль:</p>
    <input class="form_input" type="password" name="Password" />
    <input class="button form_button" type="submit" name="send" value="Войти" />
</form>