@model Website.Models.Authorization.LogoutModel
@{ ViewBag.Title = "Выход из аккаунта"; }

<!--Форма выхода из аккаунта-->
<form class="form" method="post">
    <h3>Вы действительно хотите выйти?</h3>
    <div class="form_checkbox_container">
        <input type="checkbox" id="SaveExchanges" name="SaveExchanges" value="true"/>
        <label for="SaveExchanges">Сохранить данные о доступе к биржам</label>
    </div>
    <input class="button form_button form_small_button" type="submit" name="Button" value="Выйти"/>
    <input class="button form_button form_small_button" type="submit" name="Button" value="Назад"/>
    <!--Скрытая информация, передающаяся в форме, которая содержи в себе ссылку на предыдущую страницу. Так сделано,
        потому что в post-методе будет перенаправление на get-метод, то есть ту же страницу, что не нужно-->
    <input type="hidden" name="PreviousUrl" value="@ViewBag.ReturnUrl" />
</form>