<form method="post">
    <p>Email:</p>
    <input type="email" name="Email"/>
    <p>Пароль:</p>
    <input type="password" name="Password"/>
    <p>Подтвердите пароль:</p>
    <input type="password" name="VerifyPassword"/>
    <input type="submit" value="Регистрация"/>
</form>