<p>Здесь будет регистрация</p>

<form method="post">
    <p>Email:</p>
    <input type="email" name="email" />
    <p>Пароль:</p>
    <input type="password" name="password"/>
    <p>Подтвердите пароль:</p>
    <input type="password" name="verify_password" />
    <input type="submit" value="Регистрация" />
</form>