<!--Форма регистрации-->
<form class="form" method="post">
    <h3>Регистрация</h3>
    <p>Email:</p>
    <input class="form_input" type="email" name="Email" />
    <p>Пароль:</p>
    <input class="form_input" type="password" name="Password" />
    <p>Подтвердите пароль:</p>
    <input class="form_input" type="password" name="VerifyPassword" />
    <input class="button form_button" type="submit" value="Регистрация" />
</form>