@{ 
    ViewBag.Title = "Главная страница";
    ViewBag.SectionTitle = "Представляем нашего бота";
}

<p>Всякий текст про Tradebot</p>
<form action="/purchase/buy">
    <input type="submit" value="Купить" />
</form>