@{
    ViewBag.Title = "Главная страница";
    ViewBag.SectionTitle = "Представляем нашего бота";

    if (ViewBag.HaveLicense == null || !ViewBag.HaveLicense)
    {
        <form action="/purchase/buy">
            <input class="button color_button" type="submit" value="Купить" />
        </form>
    }
    else
    {
        <p class="text_message">Вы уже обладаете лицензией на данный продукт. <a href="/account">Перейти в аккаунт</a></p>
    }
}